.hero {
    background-color: var(--overlay);
    color: #fff;
    color: var(--text-color);
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero:before {
    content: '';
    background: url('./images/img1.jpg') no-repeat center center/cover;
    height: 200vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 16px;
}

.hero .content p:first-child {
    font-style: italic;
    font-size: 14px;
}

.hero .content p:nth-child(2) {
    font-size: 30px;
}

.hero .content p:nth-child(3) {
    font-size: 80px;
    font-weight: 700;
}


.hero .content p:nth-child(4) {
    
    font-size: 35px;
    font-style: italic;
}

.hero .button {
    margin: 16px 0;
    width: 300px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: #333;
    color: var(--text-color);
    background-color: var(--button-color);
}

.hero .button:hover {
    background-color: var(--secondary-dark);
    border: 1px solid var(--secondary-dark);
}

@media screen and (max-width:940px) {
    .hero .content p:nth-child(3) {
        font-size: 45px;
    }

    .hero .content p:nth-child(4) {
        font-size: 25px;
    }
}











